<li class="post-item">
	<article>
		<div class="post-summary">
			<div class="post-image">
				<a href="{{ post.photo.url }}"><img src="{{ image }}" alt="{{ title }}"></a>
			</div>
			<div class="post-details">
				<h3>{{ title }}</h3>
				<p>{{ content }}</p>
				{% comment %} <p>Likes: {{ likes }} <button>+ Like</button></p> {% endcomment %}
			</div>
		</div>
		<div class="post-actions">
				<a href="{% url 'post-details' slug %}"><button type="button" class="btn btn-primary">View Post</button></a>
			</button>
		</div>
	</article>
</li>