.article {
  max-width: 40rem;
  margin: 5rem auto;
  border-radius: 6px;
  background-color: #ede6f8;
  border: 4px solid #350490;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.25);
  position: relative;
  padding: 1rem;
  text-align: center;
}

.content {
  text-align: left;
}

.timestamp {
  font-size: 10px;
}

.add {
  text-align: center;
}

.center {
	margin-left: 15rem;
	margin-right: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comment-section {
  border-radius: 6px;
  background-color: #ede6f8;
  border: 4px solid #350490;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.25);
  text-align: left;
}

.text-comments {
  margin-top: 3rem;
}

.comments {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#main-image {
  width: 13rem;
  height: 13rem;
  object-fit: cover;
  position: absolute;
  top: -8rem;
  left: calc(10% - 14rem);
  border-radius: 50%;
  border: 4px solid #350490;
}

h2 {
  font-size: 2rem;
}

address span {
  font-weight: bold;
}

#details h2 {
  margin-bottom: 0.5rem;
}

#details > p {
  color: #665386;
  padding: 1rem;
  border-radius: 4px;
  max-width: 80%;
  margin: auto;
}

#details footer {
  color: #696472;
}

#details footer a {
  color: #350490;
  text-decoration: none;
  font-weight: bold;
}

.form {
  margin: 10px;
  text-align: center;
}

.form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form label {
  font-weight: bold;
  color: #46424d;
  margin-right: 1rem;
  display: block;
  margin-bottom: 0.5rem;
}

.form input {
  font: inherit;
  width: 40%;
  background-color: #ebeaee;
  border: 1px solid #4b4753;
  border-radius: 4px;
  padding: 0.25rem;
}

#form-actions {
  margin-top: 1.5rem;
}

#form .errorlist {
  margin-bottom: 0.5rem;
  color: #880824;
}
