{% extends 'board/base/base.html' %}
{% load static %}

{% block title %}
    Image Board
{% endblock %}

{% block site_css %}
	<link rel="stylesheet" href="{% static 'board/styles/all-posts.css' %}" />
{% endblock %}

{% block main_heading %}
	Share your images and start a discussion!
{% endblock %}

{% block header_content %}
	<p>Or continue a discussion on someones post.</p>
{% endblock %}

{% block main %}
	<section>
		<h2>Posts</h2>
		<ol>
		{% for post in board_posts %}
			{% include 'board/includes/post-item.html' with title=post.title image=post.photo.url content=post.content likes=post.likes slug=post.slug %}
		{% endfor %}
		</ol>
	</section>
{% endblock %}