{% extends 'board/base/base.html' %}
{% load static %}

{% block title %}
	{{ post.title }}
{% endblock %}

{% block site_css %}
	{% comment %} <link rel="stylesheet" href="{% static 'board/styles/post-details.css' %}" /> {% endcomment %}
{% endblock %}

{% block main %}

{% if post_found %}
	<article>
		<img id="main-image" src="{{ post.photo.url }}" alt="">
		<section id="details">
			<h2>{{ post.title }}</h2>
			<p>{{ post.created_at }}</p>
			<p>{{ post.content }}</p>
			<ol>
				{% for comment in comments %}
					<li>{{comment.comment}}</li>
				{% endfor %}
			</ol> 
		</section>
		<button type="button" class="btn btn-primary" onClick="toggle('comment')">Add Comment</button>
		<section id="comment" style="display: none;">
			<form action="{% url 'post-detail' post.slug %}" method="POST">
				{% csrf_token %}
				<ul>
					{{ form.as_p }}
				</ul>
				<div>
					<button>Submit</button>
				</div>
			<form>
		</section>
	</article>
{% else %}
	<h3>No Post Found!</h3>
{% endif %}
	
{% endblock %}