{% extends 'board/base/base.html' %}
{% load static %}


{% block title %}
	{{ post.title }}
{% endblock %}

{% block site_css %}
	<link rel="stylesheet" href="{% static 'board/styles/post-details.css' %}" />
{% endblock %}

{% block main_heading %}
	Share your images and start a discussion!
{% endblock %}

{% block header_content %}
	<p>Or continue a discussion on someone's post.</p>
{% endblock %}

{% block main %}

{% if post_found %}
	<div class="container">
	<div class="article">
		<a href="{{ post.photo.url }}"><img id="main-image" src="{{ post.photo.url }}" alt=""></a>
		<div id="details">
			<div class="row">
				<div class="col">
					<h2>{{ post.title }}</h2>
				</div>
				<div class="col-3 timestamp">
					<p>{{ post.created_at }}</p>
				</div>
			</div>
			<p class="content">{{ post.content }}</p> 
		</div>
	</div>
	<div class="add">
		<button type="button" class="btn btn-primary" onClick="toggle('comment')">Add Comment</button>
	</div>
	<div id="comment" class="form" style="display: none;">
		<form action="{% url 'post-details' post.slug %}" method="POST">
			{% csrf_token %}
			<ul>
				{{ form.as_ul }}
			</ul>
			<div>
				<button>Submit</button>
			</div>
		<form>
		</div>
	<h3 class="text_comments">Comments:</h3>
	<div class="comments">
		{% for comment in comments %}
			<div class="comment">	
				<h5>{{ comment.alias }} </h5>
				<p> {{comment.comment}} </p>
			</div>
		{% endfor %}
	</div>
</div>
{% else %}
	<h3>No Post Found!</h3>
{% endif %}
	
{% endblock %}